@model UniMarket.Web.Models.Product

<h2>Yeni Ürün Ekle</h2>

<form asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-check mt-3">
        <input class="form-check-input" asp-for="IsSold" />
        <label class="form-check-label" asp-for="IsSold"></label>
    </div>

    <button class="btn btn-primary mt-3">Kaydet</button>
    <a class="btn btn-secondary mt-3 ms-2" href="/Products">Geri</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
