@model UniMarket.Web.Models.Product

<h2>Ürünü Düzenle</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedAt" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" type="number" step="0.01" />
    </div>

    <div class="form-group">
        <label asp-for="IsSold"></label>
        <input asp-for="IsSold" />
    </div>

    <button class="btn btn-primary">Kaydet</button>
    <a class="btn btn-secondary" href="/Products">İptal</a>
</form>
